<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-left">

            <button class="custom-toggle lines-button x" aria-label="Toggle Navigation" role="button" type="button">
                <span class="lines"></span>
            </button>

        </div>

        <div class="pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{#if user.facebook.id}}
                          <img class="img-circle header-avatar" src="https://graph.facebook.com/{{user.facebook.id}}/picture" alt="user" title="user">
                        {{else}} 
                          <img class="img-circle header-avatar" src="https://en.gravatar.com/userimage/30938076/3bf8574b4d6685976ee76e6c0009fa7f.jpg" alt="user" title="user"> 
                        {{/if}}
                        <span class="user-name-dropdown ">
                          {{#if user.local.name}}
                            {{user.local.name}}
                          {{else}}    
                            {{#if user.facebook.id}}
                              {{user.facebook.name}}
                            {{else}} 
                              {{#if user.local.username}}
                                {{user.local.username}}
                              {{else}}
                                {{user.local.email}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>


    </div><!-- /.container-fluid -->
</nav>


<!-- <div class="under-menu" style="position: absolute; background-color: rgb(51, 51, 51); height: 100%; width: 200px;"></div> -->