<div class="player-profile">
    <div class="player-profile-stats col-md-12">
        <li class="col-md-3">PTS: {{points}}</li>
        <li class="col-md-3">FG: </li>
        <li class="col-md-3">3PT: </li>
        <li class="col-md-3">FT: </li>
    </div>
    {{#if player_picture}}
        <div class="player-image" style="background-image: url({{player_picture}});">
            <span class="fa-pencil-square-o"></span>
        </div>
    {{else}}
        {{!-- <div class="player-image" style="background-image: url(http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{name_format}}.png);">
            <span class="fa-pencil-square-o"></span>
        </div> --}}
    {{/if}}
    </div>
    <div class="player-name">{{player_name}}</div>
</div>

<div class="player-stats" style="color: #fff;">
    {{!-- <div class="chart"></div> --}}
</div>

<div class="dynamic-feed"></div>