<div class="leader">
    <div class="leader-block">
        <div class="points-leader">

            {{#if maxPoints.attributes.player_picture}}
                <div class="image-underlay" style="background-image: url({{maxPoints.attributes.player_picture}})"></div>
                <img src="{{maxPoints.attributes.player_picture}}" class="img-circle img-responsive">
            {{else}}
                <div class="image-underlay" style="background-image: url(./img/default.jpg)"></div>
                <img src="./img/default.jpg" class="img-circle img-responsive" /> 
            {{/if}}

    	    <div class="leader-points" style="text-align: center; padding: 20px;">
    	        <span class="player-name">{{maxPoints.attributes.player_name}}</span>
    	        <h1>{{maxPoints.attributes.points}}</h1> 
    	        points
    	    </div>

    	</div>
    </div>
    <div class="leader-block">
        <div class="rebounds-leader">

            {{#if maxRebounds.attributes.player_picture}}
                <div class="image-underlay" style="background-image: url({{maxRebounds.attributes.player_picture}})"></div>
                <img src="{{maxRebounds.attributes.player_picture}}" class="img-circle img-responsive">
            {{else}}
                <div class="image-underlay" style="background-image: url(./img/default.jpg)"></div>
                <img src="./img/default.jpg" class="img-circle img-responsive"/> 
            {{/if}}

            <div class="leader-points" style="text-align: center; padding: 20px;">
                <span class="player-name">{{maxRebounds.attributes.player_name}}</span>
                <h1>{{maxRebounds.attributes.rebounds}}</h1> 
                rebounds
            </div>

        </div>
    </div>
    <div class="leader-block">
        <div class="steals-leader">

            {{#if maxSteals.attributes.player_picture}}
                <div class="image-underlay" style="background-image: url({{maxSteals.attributes.player_picture}})"></div>
                <img src="{{maxSteals.attributes.player_picture}}" class="img-circle img-responsive">
            {{else}}
                <div class="image-underlay" style="background-image: url(./img/default.jpg)"></div>
                <img src="./img/default.jpg" class="img-circle img-responsive"/> 
            {{/if}}

            <div class="leader-points" style="text-align: center; padding: 20px;">
                <span class="player-name">{{maxSteals.attributes.player_name}}</span>
                <h1>{{maxSteals.attributes.steals}}</h1> 
                steals
            </div>

        </div>
    </div>
</div>

<div class="share-game">
    <button class="btn post-stats"><i class="ti-stats-up"></i>Share this game?</button>
</div>

<div class="chart-wrapper" style="height: 40%;">
    <div class="chart-game-info">
        <span class="first" style="background-color: {{homeTeam.attributes.team_color}};"></span>
        {{homeTeam.attributes.team_name}} vs {{awayTeam.attributes.team_name}}
        <span class="second" style="background-color: {{awayTeam.attributes.team_color}};"></span>
    </div>
    <canvas id="canvas"></canvas>
</div>