<div class="leader" style="background-color: #fafafa; padding: 20px; height: 40%;">
    <div class="points-leader">
        {{#if maxPoints.attributes.player_picture}}
            <img src="{{maxPoints.attributes.player_picture}}" class="img-circle img-responsive" style="height: 65px; width: 65px; margin: auto;">
        {{else}}
            <img src="./img/default.jpg" class="img-circle img-responsive" style="height: 65px; width: 65px; margin: auto;"/> 
        {{/if}}
	    <div class="leader-points" style="text-align: center; padding: 20px;">
	        <span style="border: 2px solid transparent">{{maxPoints.attributes.player_name}}</span>
	        <h1 style="font-size: 50px; margin: 0;">{{maxPoints.attributes.points}}</h1> 
	        points
	    </div>
	</div>
</div>

<div class="share-game" style="height: 20%;text-align: center;padding: 12.2%;background-color: #fff;">
    <button class="btn post-stats" style="border-radius: 100em; border: 1px solid; color: #0a46cd;">Share this game?</button>
</div>

<div class="chart-wrapper" style="height: 40%;">
    <div style="margin-top: 15px;text-transform: uppercase;font-size: 11px;text-align: center;">
        <span style="background-color: {{homeTeam.attributes.team_color}}; width: 5px; height: 5px; border-radius: 100em;margin-right: 5px;display: inline-block;margin-bottom: 3px;"></span>
        {{homeTeam.attributes.team_name}} vs {{awayTeam.attributes.team_name}}
        <span style="background-color: {{awayTeam.attributes.team_color}}; width: 5px; height: 5px; border-radius: 100em;display: inline-block;margin-left: 5px;margin-bottom: 3px;"></span>
        </div>
    <canvas id="canvas"></canvas>
</div>