{{!-- TODO: Better layout --}}
<div class="team-block {{playing}}" style="background-color: {{team_color}}; margin: 15px; padding: 15px">
    <div class="team-changes pull-right" style="cursor:pointer">
        <i class="ti-settings"></i>
    </div>
	<div class="team-name">{{team_name}}</div>
	<div class="team-points team-data">{{points}}</div>
	<div class="team-rebounds team-data">{{rebounds}}</div>
	<div class="team-steals team-data">{{steals}}</div>
	<div class="set-team-side">
        <button class="home btn team-settings-btn" style="display: inline-block">Home</button>
		<button class="away btn team-settings-btn" style="display: inline-block">Away</button>
	</div>
</div>

<div class="team-editor"></div>
