{{!-- TODO: Better layout --}}
<div class="team-block {{playing}}" style="background-color: {{team_color}}; margin: 15px; padding: 15px">
    <div class="team-changes pull-right" style="cursor:pointer">
        <i class="ti-settings"></i>
    </div>
	<div class="team-name"><h2>{{team_name}}</h2></div>
	<div class="team-points team-data"><h1>{{points}}</h1> <p>pts</p></div>
	<div class="team-rebounds team-data"><h1>{{rebounds}}</h1> <p>rbs</p></div>
	<div class="team-steals team-data"><h1>{{steals}}</h1> <p>stls</p></div>
</div>

<div class="team-editor"></div>
