<div class="player">

    <div class="col-xs-6 column stat name">

        <span class="column face">
            {{#if player_picture}}
                <img src="{{player_picture}}" class="player-image img-responsive"/>
            {{else}}
                {{!-- <img src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{name_format}}.png" class="player-image img-responsive"/> --}}
            {{/if}}
        </span>

        <div class="column the-name">
            <span style="margin: auto;"> {{player_name}} </span>
        </div>

    </div>

    <div class="col-xs-6 column stat data makes-misses">
        <div class="active-add-stat">
            <span class="points">{{points}}</span>
        </div>
    </div>
</div>    
